
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  background: url("login.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}


body::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 360px;
  padding: 40px 35px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(46, 204, 183, 0.3);
  text-align: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.logo span {
  color: #2eccb7;
}

h2 {
  color: #2eccb7;
  margin-bottom: 10px;
  font-size: 22px;
}

p {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 25px;
}


.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #2eccb7;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 15px;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 0;
  color: #aaa;
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -12px;
  font-size: 13px;
  color: #2eccb7;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-filled,
.btn-outline {
  width: 48%;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-filled {
  background: #2eccb7;
  color: #000;
  border: none;
}

.btn-filled:hover {
  background: #1abc9c;
  transform: scale(1.05);
}

.btn-outline {
  background: transparent;
  border: 2px solid #2eccb7;
  color: #2eccb7;
}

.btn-outline:hover {
  background: #2eccb7;
  color: #000;
  transform: scale(1.05);
}

/* Extras */
.extras {
  margin-top: 20px;
}

.extras a {
  color: #2eccb7;
  text-decoration: none;
  transition: color 0.3s;
}

.extras a:hover {
  color: #00ffdd;
}
