
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: url("trainer.jpg") no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}


.container {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 400px;
    padding: 40px 35px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.container:hover {
    transform: translateY(-4px);
}

.container h2 {
    text-align: center;
    font-weight: 600;
    color: #f4d35e;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #f8f9fa;
}

form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

form input::placeholder {
    color: #ddd;
}

form input:focus {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #f4d35e;
}


button {
    width: 100%;
    background: #f4d35e;
    color: #0d1b2a;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #ffcc00;
    transform: translateY(-2px);
}


@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 30px 25px;
    }

    h2 {
        font-size: 22px;
    }
}
.back-btn {
    width: auto !important;
    background: #b30000 !important;
    color: white !important;
    padding: 10px 25px !important;
    border-radius: 6px !important;
    font-weight: bold !important;
    border: none !important;
    cursor: pointer;
    display: inline-block !important;
    position: absolute;
    top: 20px;
    left: 20px;
     z-index: 9999;
}

.back-btn:hover {
    background: #8c0000 !important;
}
